<!-- /templates/customers/account.liquid -->

<div class="page-container">

    <div class="container">

        <div class="page-width account-template">
          {% include 'buy-it-again-mob' %}
        </div>
    </div>
</div>