
<div class="page-container page-{{ template.suffix }} static-page">
  <div class="{{ section.settings.container_style }}">
    <div class="static-page__heading">
        <h1 class="highlight">{{ page.title }}</h1>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Title",
  "settings": [
    {
      "type": "select",
      "id": "container_style",
      "label": "Container style",
      "default": "container",
      "options": [
        { "label": "Small", "value": "container--small" },
        { "label": "Normal", "value": "container" }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Page Title"
      },
      "category": {
        "en": "Page"
      }
    }
  ]
}
{% endschema %}