<div class="predictive-search-full-page-section">
  {% render 'full-page-predictive-search-content' %}
</div>

{% schema %}
{
  "name": "Search full page",
  "settings": [],
  "blocks": [
    {
      "type": "@theme"
    }
  ]
}
{% endschema %}
