<div class="page-container container--small static-page">

    <div class="celebrities-page">

        <div class="static-page__heading">
            <h1 class="highlight">{{ page.title }}</h1>
        </div>

        <div>{{ page.content }}</div>

        {% section 'celebrities-grid' %}

    </div>
  
</div>