<div class="page-container static-page" data-static-page >

  <div class="container">

    <!-- <div class="static-page__heading">
      <h1 class="highlight">{{ page.title }}</h1>
    </div> -->

    <div style="margin-top:50px;">
      <div id="dml_fmc_wrapper">
<script>window.fmc_hasBanner=false;</script>
<script>const fmcEmbedUrl =
"https://facemapping.me/fmcembed.js?"+(new Date()).getTime();
const fmcScript = document.createElement("script");
fmcScript.src = fmcEmbedUrl;
document.getElementById("dml_fmc_wrapper").appendChild(fmcScript)
</script>
</div>

    </div>

  </div>

</div>
