<div class="page-container preference-center" >

    <!-- <div class="container klaviyo-form-TxhTkM"></div> -->
    <iframe src="https://planetbeauty.attn.tv/p/Jqg/preference-center" style="min-height: 800px;" width="100%" height="100%"></iframe>

</div>

<style>
    .preference-center input[type='checkbox'] + label{
		display: flex;
	}

    iframe
    {
        border:none;
    }
</style>