<div class="page-container static-page" data-static-page >

    <div class="container--small">
  
      <div class="static-page__heading">
        <h1 class="highlight">{{ page.title }}</h1>
      </div>
  
      {% section 'faq' %}
  
    </div>
  
  </div>