<div class="page-container static-page">

    <div class="container brands-page">

        <div class="static-page__heading">
            <h1 class="highlight">{{ page.title }}</h1>
        </div>

        {%- comment -%}

        <div>{{ page.content }}</div>

        {%- endcomment -%}

        {% section 'brands-grid' %}

    </div>
  
</div>